body{
    background-color: rgb(233, 233, 233);
    margin-left: 150px;
}

.logo{
    height: 50px;
}

.navbaar,.page{
    display: flex;
}

 .page {
    gap: 15px;
    list-style: none;
    font-weight: 900;
    margin-left: 60%;
    font-size: 25px;
}

.page li a{
    color: black;
    text-decoration: none;
}

.page li a:hover{
    color: rgb(3, 170, 3);
}

.content{
    display: flex;
}

.main1{
    margin-top: 10%;
}

.main1 h1{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main1 p{
    color: rgb(85, 84, 84);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stethoscope{
    position: absolute;
    height: 500px;
    width: 300px;
    top: 155px;
    margin-left: 20%;
}

.main1 button{
    background-color:rgb(91, 175, 91);
    border-radius: 15px;
    color: white;
    border: none;
    height: 55px;
    width: 200px;
    font-size: 20px;
}

.angle{
    margin-left: 95%;
    margin-bottom: 10px;
}

.mouse{
    margin-left:98% ;
    margin-bottom: 108px;
}

.doctor img{
    position: absolute;
    height: 88%;
    margin-left: 10%;
    right: 0;
    bottom: 0;
}

.greenbox,.yellowbox{
    position: absolute;
    right: 0;
}

.greenbox{
    width: 35%;
    bottom: 30px;
}

.yellowbox{
    width: 30%;
    bottom: 50px;
}