body{
    background-color: #0f0f10;
    overflow-x: hidden;
}
.navbaar,.logo,.nav{
    display: flex;
    list-style: none;
}

header{
    margin-left: 3vw;
}
.mainImage{
    height: 70vh;
}
.nav{
    gap: 5vw;
    color: white;
    font-weight: bold;
}
ul li button{
    background-color: #1e1e21;
    border: none;
    height: 5vh;
    width: 10vw;
    border-radius: 5px;
    border-top: 2px solid #4d4d4d;
    border-left: 2px solid #4d4d4d;
    color: hsl(240, 1%, 55%);
    font-weight: bold;
}

.right{
    margin-left: 35vw;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 30vh;
}

.onear{
    margin-left: 10vh;
}

button{
    background-color: #1e1e21;
    width: 20vw;
    color: white;
    height: 10vh;
    border: none;
    border-radius: 8px;
}

.bag ul{
    display: flex;
    gap: 2vw;
    list-style: none;
    align-items: center;
    margin: auto;
}

.social ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 15vw;
    margin-top: 25vh;
    margin-left: 7vw;
}

.specs{
    margin-top: 10vh;
    /* margin-left: 15vw; */
    color: white;
}

.specs-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
    
}

.bluetooth,.microphone{
    margin-left: 20vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.battery,.charging{
    margin-left: 15vw;
}

.headphone{
    margin-left: 40vw;
    position: absolute;
    top: 150vh;
    height: 70vh;
}

.case{
    margin-top: 10vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}

.caseImage{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-left: 25vw;
}

.caseInfo{
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 53vw;
    position: absolute;
    top: 260vh;
}

.info{
    display: block;
    margin: auto;
    /* display: flex; */
    margin-left: 50vw;
    position: absolute;
    top: 280vh;
    }

    .info ul {
        display: flex;
        list-style: none;
        gap: 2vw;
        text-align: center;
    }

    .offContent{
        margin-left: 20vw;
        margin-top: 25vh;
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .offContent button ul{
        display: flex;
        list-style: none;
        gap: 3vw;
        text-align: center;
    }

    .buyImg{
        margin-left: 50vw;
        position: absolute;
        top: 330vh;
    }
    
    .buyProduct{
        height: 45vh;
        /* width: 25%; */
        background-color:#181a1b;
        padding: 5vh;
        width: 1000%;
    }

    .product .product-style{
        display: block;
        margin: auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
    .product {
        display: flex;
        flex-direction: column;
        margin: 0 150px;
      }
      
      .flex{
        display: flex;
        gap: 5vw;
      }

      .product-info {
        display: flex;
        gap: 3vw;
      }

      .product-info p{
        color: white;
        align-items: center;
      }

      .shoping{
        margin-top: 3vh;
        display: block;
        align-items: center;
        background-color: black;
      }

      .product-card{
        position: relative;
        background:#181a1b ;
        height: 380px;
        width: 380px;
        border-radius: 10px;
        margin-bottom: 5vh;
      }

      .product-item{
       margin-left: 11vw;
      }

      .beats{
        margin-left: 5vw;
      }
      .foot{
        display: flex;
        gap: 12vw;
      }
      .foot div li{
        list-style: none;
        color: white;
      }

      .rightArrow{
        position: absolute;
        margin-left: 10vw;
        bottom: -3289px;
      }
      input{
        background-color:#181a1b;
        border: none;
        width: 25vw;
        height: 10vh;
        border-radius: 10px;
      }

      .subs{
        position: absolute;
        margin-left: 14vw;
        bottom: -3305px;
        color: white;
      }

      .upArrow{
        float: right;
      }

      /* .subscribe-button{
        background-color: black;
      } */

    .social-network ul{
        display: flex;
        list-style: none;
        gap: 3vw;
        margin-left: 52vw;
    }  